body{background:aliceblue ;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

.App-data{
  font-size: 8px;
}

table thead tr {
  background: gainsboro;
}
table tr:nth-child(even){
  background: gainsboro;
}

table{
  width: 100%;
  margin:0;
  padding:5px; 
}

table td{ 
  text-align-last: center;
  padding:20px; 
  width: 33%;
}
select{
  /* border:0; */
  outline:0;
  width: 150px; 
  height: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: cornflowerblue;
}

.item{
  position: relative;
  font-weight: 700; 
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  line-height: 30px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;  
}

.item-bowl{
  border-color: cornflowerblue;
  
}
.item-star{ 
  border-color: lightgray; 
  }
  
  .bg-star{  
      position: absolute;
      top:-12px;
      right: -12px;
      display: inline-block;
      width: 0;
      height: 0;
      
      margin-left: .9em;
      margin-right: .9em;
      margin-bottom: 1.2em;
      
      border-right:  .3em solid transparent;
      border-bottom: .7em  solid #FC0;
      border-left:   .3em solid transparent; 
      font-size: 12px; 
      box-shadow: #666 1px 11px 9px
    } 
    .bg-star:before, .bg-star:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #FC0;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    .bg-star:after {  
      transform: rotate(35deg);
    }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
